.body {
  max-width: 375px;
  height: 100%;
}

.grid {
  width: 325px;
  margin: 15% auto;
  background: $background;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 450px);

  &__box {
    &--sedan {
      background: $orange-box;
    }

    &--suv {
      background: $cyan-box;
    }

    &--luxury {
      background: $dark-cyan-box;
    }
  }
}

.content {
  padding: 50px;
  &__header {
    font-family: "header-font", Arial, Helvetica, sans-serif;
    color: $header-color;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1px;
  }

  &__paragraph {
    font-family: "paragraph-font", Arial, Helvetica, sans-serif;
    color: $paragraph-color;
    font-size: 15px;
    line-height: 1.7;
  }
    background: $buttons-background;
