@font-face {
  font-family: "header-font";
  src: url("../fonts/BigShouldersDisplay-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "paragraph-font";
  src: url("../fonts/LexendDeca-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "button-font";
  src: url("../fonts/LexendDeca-Regular.ttf") format("truetype");
}