@media screen and (min-width: 600px) {
  .grid {
    width: 500px;
    grid-template-rows: repeat(3, 625px);
    margin: 20% auto;
  }

  .content {
    padding: 65px;

    &__image {
      width: 37%;
      height: 37%;
    }

    &__header {
      font-size: 50px;
      letter-spacing: 2px;
    }

    &__paragraph {
      font-size: 19px;
      line-height: 1.9;
    }

    &__button {
      padding: 10px;
      border-radius: 45px;
      width: 182px;
      height: 58px;
      margin-top: 18px;
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 800px) {
  .grid {
    width: 700px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 425px);
    margin: 5% auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .content {
    padding: 45px;

    &__image {
      width: 40%;
      height: 40%;
    }

    &__header {
      font-size: 30px;
    }

    &__paragraph {
      font-size: 12px;
    }

    &__button {
      border-radius: 35px;
      width: 130px;
      height: 40px;
      margin-top: 20px;
      font-size: 15px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .grid {
    width: 900px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 490px);
  }

  .content {

    &__image {
      width: 45%;
      height: 45%;
    }

    &__header {
      font-size: 39px;
    }

    &__paragraph {
      font-size: 14px;
    }

    &__button {
      border-radius: 40px;
      width: 150px;
      height: 50px;
      margin-top: 30px;
      font-size: 18px;
    }
  }
}
