/* column-box colors */

$orange-box: hsl(31, 77%, 52%);
$cyan-box: hsl(184, 100%, 22%);
$dark-cyan-box: hsl(179, 100%, 13%);

/* font colors */

$header-color: hsl(0, 0%, 95%);
$paragraph-color: hsla(0, 0%, 100%, 0.75);

/* background and buttons colors */

$background: hsl(0, 0%, 95%);
$buttons-background: hsl(0, 0%, 95%);
$button-hover-color: hsla(0, 0%, 100%, 0.75);
